$background: #d3d3d3;

*{
		margin:0;
		padding:0;
}
body{
}
	.container{
		background: $background;
		width:1000px;
		height:500px;
		margin:0px auto;

	}
	.child{
		background:red;
		width:200px;
		height:200px;
		margin:50px 0px 0px 0px; 
		position:absolute;
	}
	.inner_child{
		background:blue;
		width:100px;
		height:100px;
		margin:50px 0px 0px 0px; 
		position:absolute;
	}
	nav ul{
		margin: 0px auto;
		max-width: 500px;
	}
	nav ul li{
		
		list-style: none;
		position: relative;
		float: left;
		background: yellow;
		text-align:center;
		padding: 0px;
		margin: 0px;
	}
	nav ul li a{		
		text-decoration:none;
		color:#000000;
		padding:10px 10px;
		display: block; 
	}
	nav li ul{
		display:none;
		position:absolute;
	}
	nav li ul li{
		float: none;
	}
	nav li ul li:hover{
		background: grey;
	}
	nav li:hover > ul{
		display: block;
		z-index: 1;
	}
	li.after::after{
		content: "This is the most chosen selection!"
	}
	.footer{
		width: 1000px;
		margin: 0px auto;
		font-size: 18px;
	}